body {
    background-color: #acacac;
    padding: 200px;
    text-align: center;
}

body h1 {
    font-size: 60px;
}

body p {
    font-size: 20px;
}

.form li {
    background-color: #acacac;
    list-style: none;
    height: 60px;
}

.form a:hover {
    background-color: #acacac;
}

.form a {
    background-color: #acacac;
    color: rgb(81, 42, 255);
    display: block;
    text-decoration: none;
}

.form a:active {
    font-size: 15px;
}