body {
    font-family: "ヒラギノ角ゴ";
}

li {
    list-style: none;
}

.header {
    background-color: #fab12b;
    color: rgb(255, 255, 255);
    position: relative;
    top: -20px;
    left: -10px;
    width: 1442px;
    height: 100px;
}

.header-logo {
    float: left;
}

.header-logo-main {
    position: relative;
    left: 10px;
    font-size: 32px;
    padding: 0px 0px 0px 25px;
}

.header-logo-sub {
    font-size: 16.5px;
}

.header-list {
    float: right;
    font-size: 20px;
    list-style-type: none;
}

.header-list a {
    display: block;
    text-align: center;
    background-color: #fab12b;
    color: #ffffff;
    padding: 30px 60px;
    position: relative;
    top: -10px;
    right: 10px;
    text-decoration: none;
    
}

.header-list a:hover {
    background: #fcd183;
    transition: 1000ms;
}


.main {
    text-align: center;
}

.main-button {
    background-color: #ffdf52;
    color: black;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 3px solid #0042f7;
}

.main-button:hover {
    background-color: #fff3bd;
    color: black;
    transition: 0.4s;
}

.main-button:active {
    border: 3px solid #000000;
    background-color: #ffd310;
    transition: 0ms;
}

.middle-text {
    text-align: center;
    font-size: 30px;
    padding: 100px 100px;
}

.span-big {
    color: rgb(255, 81, 0);
    text-align: center;
    font-size: 45px;
}

.span-big-url {
    text-decoration: none;
    color: rgb(255, 81, 0);
}

.span-big-url:active {
    color: rgb(255, 81, 0);
}

.footer {
    background-color: #2f5167;
    color: #fff;
    position: relative;
    top: -20px;
    left: -10px;
    width: 1362px;
    height: 35px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 30px;
}

.footer-list {
    float: right;
}


.footer-list li {
    font-size: 20px;
}

.footer-list a {
    padding: 50px 0px 0px 0px;
    width: 170px;
    height: 65px;
    display: block;
    text-align: center;
    background-color: #2f5167;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    top: -56px;
    right: -25px;
}

.footer-list a:hover {
    background: #6a94b1;
    transition: 1000ms;
}
